name: Build Sanity Check

on:
  push:
    branches:
      - "**"
  pull_request:

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install UV
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: false

      - name: Install build dependencies
        run: uv sync

      - name: Build wheels with UV
        run: uv build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ github.run_id }}
          path: dist/*
